<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top"> <!-- Navigation bar in container to size-->
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li> <!-- Each links to their respective urls -->
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin Login</a></li>
          <li><a class="navbar-link" href="{% url 'loginapp:register' %}">Register</a></li>     
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'loginapp:user_login' %}">Login</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'createpost' %}">Play Game</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'loginapp:user_login' %}">Log in to Play</a></li>
	  {% endif %}
            <li><a class="navbar-link" href="{% url 'showboard' %}">View Recent Scores</a></li>
</ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>
